@import '../theming';

@mixin button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  button {
    background: transparent;
    color: $primary;
    &.primary {
    background: $primary;
    color: $foreground;
  }
    &.accent {
    background: $accent;
    color: $foreground;
  }
  }
}
